<div class="row" id="reportcards">
    <div class="col-lg-2">
        <div class="card mb-2" style="margin-left:5%; margin-right:5%;">
            <div class="card-header" id="header-totales">Total</div>
            <div class="card-body">
                <h5 class="card-title">Solde Tous Comptes </h5>
                <p class="card-text"> 35 580 DTN</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="card mb-2" style="margin-left:5%; margin-right:5%;">
            <div class="card-header" id="header-progreso">Impayés</div>
            <div class="card-body">
                <h5 class="card-title">Montant <br> </h5>
                <p class="card-text"> 17 340 DTN</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="card mb-2" style="margin-left:5%; margin-right:5%;" >
            <div class="card-header" id="header-finalizado">Engagements</div>
            <div class="card-body">
                <h5 class="card-title">Montant <br> </h5>
                <p class="card-text"> 12 750 DTN </p>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="card mb-2" style="margin-left:5%; margin-right:5%;">
            <div class="card-header" id="header-error">Personnel</div>
            <div class="card-body">
                <h5 class="card-title">Charge Personnel <br> </h5>
                <p class="card-text">7 542 DTN </p>
            </div>
        </div>
    </div>
<div class="col-lg-2">
    <div class="card mb-2" style="margin-left:5%; margin-right:5%;">
        <div class="card-header" id="header-totales">Charge récurantes</div>
        <div class="card-body">
            <h5 class="card-title">Steg/soned <br> </h5>
            <p class="card-text">7 542 DTN </p>
        </div>
    </div>
</div>

<div class="col-lg-2">
    <div class="card mb-2" style="margin-left:5%; margin-right:5%;">
        <div class="card-header" id="header-finalizado">Fournisseurs</div>
        <div class="card-body">
            <h5 class="card-title">Contrat Fournisseur</h5>
            <p class="card-text">7 542 DTN </p>
        </div>
    </div>
</div>
</div>