<html>
<app-navbar-admin></app-navbar-admin>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>

    <h1>Bienvenu Admin.</h1>
    <p> Vous trouverez ici les liens correspondant à la liste des reclamations, ainsi que les rapports.</p>
    <div id="divPadre">
        <div id="divHijo">
            <h2> Liste des réclamations</h2>
            <input type="submit" value="Entrer" routerLink="/list">
        </div>

        <div id="divHijo">
            <h2> les Raports</h2>
            <input type="submit" value="Entrer" routerLink="/report">
        </div>
    </div>
</body>

</html>