<app-navbar></app-navbar>
<div class="container">
    <div style="margin-top:20px">
        <app-carousel></app-carousel>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-4">
            <h1>Aide</h1>
            <p>Dans ce portail, nous pouvons vous aider avec vos réclamations, réclamations, suggestions et questions liées à
                nos services éducatifs.</p>
            <button type="button" class="btn landing-button" routerLink="/user-login">En savoir plus</button>
        </div>
        <div class="col-lg-8">
            <img src="assets/drawkit-grape/drawkit-grape-pack-illustration-2.svg" width="100%" style="padding:15%"
                alt="Imagen vectorizada">
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-6">
            <img src="assets/drawkit-grape/drawkit-grape-pack-illustration-4.svg" width="100%" style="padding:20%"
                alt="Imagen vectorizada">
        </div>
        <div class="col-lg-4">
            <h1>Solution des réclamations</h1>
            <p>Nous sommes là pour vous aider et apporter une solution rapide à vos réclamations. Ouvrir un nouveau ticket pour nous partager
                votre plainte et nous vous désignerons un administrateur afin qu'il puisse vous donner une réponse satisfaisante.</p>
            <button type="button" class="btn landing-button" routerLink="/user-login">Ajouter une réclamation </button>
        </div>
    </div>
</div>